<br>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary">New Recipe</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6" *ngFor="let item of RecipeList">
        <div class="card" style="width:250px">
            <img class="card-img-top" [src]="item.ImgPath" alt="Card image" style="width:100%">
            <div class="card-body">
            <h4 class="card-title">{{item.Name}}</h4>
            <p class="card-text">{{item.Description}}</p>
            <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>   
        <app-item-recipe></app-item-recipe> 
    </div>
</div>
